<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}<!-- block meta -->{% endblock %}
  <title>{% block title %}{% endblock %} - Glisten Blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/awesome.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="/static/js/uikit.min.js"></script>
  <script src="/static/js/components/sticky.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/awesome.js"></script>

  {% block beforehead %}<!-- before head -->{% endblock %}
</head>
<body>
<nav class="blog-nav navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Glisten's Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="https://github.com/glistenlau/blog-python3-webapp">Source Code</a></li>
      </ul>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">

        {% if __user__ %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">
            {{ __user__.name }}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/signout">Signout</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="/signin">Log in</a></li>
        <li><a href="/register">Sign up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div id="content" class="container">
  <div>
    <br><br>
    {% block content %}
    {% endblock %}
  </div>
</div>

<div class="uk-margin-large-top"
     style="background-color:#eee; border-top:1px solid #ccc;">
  <div class="uk-container uk-container-center uk-text-center">
    <div class="uk-panel uk-margin-top uk-margin-bottom">
      <p>
        <a target="_blank" href="https://github.com/glistenlau"
           class="uk-icon-button uk-icon-github"></a>
        <a target="_blank" href="http://linkedin.com/in/glistenlau"
           class="uk-icon-button uk-icon-linkedin-square"></a>
      </p>
    </div>
  </div>
</div>
</body>
</html>
