{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

<script>
function initVM(data) {
  var vm = new Vue({
    el: '#vm',
    data: {
      page: data.page
    }
  });
  $('vm').show();
}

$(function() {
  getJSON('/api/blogs', {page: {{ page_index }}}, function (err, results) {
    if (err) {
      return fatal(err);
    }
    $('#loading').hide();
    initVM(results);
  });
});
</script>

{% endblock %}

{% block content %}
<div id="error" class="uk-width-1-1">
</div>

<div id="loading" class="uk-width-1-1 uk-text-center">
    <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
</div>

<div class="uk-width-1-1">

  {% for blog in blogs %}
  <article class="uk-article">
    <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
    <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
    <p>{{ blog.summary }}</p>
    <p><a href="/blog/{{ blog.id }}">继续阅读
      <i class="uk-icon-angle-double-right"></i>
    </a></p>
  </article>
  <hr class="uk-article-divider">
  {% endfor %}

</div>

{% raw %}
<div id="vm">
  <pagination
    page_index="{{ page.page_index }}"
    has_previous="{{ page.has_previous }}"
    has_next="{{ page.has_next }}">
  </pagination>
</div>
{% endraw %}

{% endblock %}
