<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
  <meta charset="utf-8" />
  <title>Sign in</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha1.js"></script>
  <script src="/static/js/awesome.js"></script>
  <style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      height: 100%;
      background-color: #eee;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }

  </style>
</head>

<body>
<div class="container">

  <form id="signinForm" class="form-signin">
    <h3 align="center"><b>Log in to Glisten's Blog</b></h3>
    </br>
    <div id="signin-error" class="alert alert-danger" role="alert" hidden>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span id="error-message"></span>
    </div>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <br/>
    <button class="btn btn-primary btn-block" type="submit">Log in</button>
  </form>

</div> <!-- /container -->
<script>
  $("#signinForm").submit(function(event) {

    var email = $("#inputEmail").val().trim().toLowerCase();

    var data = {
      email: email,
      passwd: $("#inputPassword").val() === ''? '': CryptoJS.SHA1(email +
          ':' + $("#inputPassword").val()).toString()
    };

    $.post('api/authenticate', data)
        .done(function(rsp) {
          if (rsp.error) {
            $('#error-message').text(rsp.message);
            $('#signin-error').show();
          } else {
            location.assign('/');
          }
        })
        .fail(function(err) {
          alert(err.message);
        });
    event.preventDefault();
  });
</script>
</body>
</html>
