html {
  height: 100%;
}
body {
  min-height: 100%;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 8px;
    padding-left: 8px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.smpadding {
    padding: 3px !important;
    margin: 0 !important;
}

/*
 * Comment makeup.
 */
.comment-user-name {
    color: #B71C1C;
}
.comment-created-time {
    color: #999;
}
.comment-content {
    font-size: 18px;
}
.comment-box {
    margin: 5px 0;
}
.comment-form {
    margin: 0;
}
.user-image {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 10px;
}
.button-right {
    float: right;
}
.btn-comment-signin {
    margin: 15px 0;

}
.center {
     text-align: center;
}