{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}


<script>
    var comment_url = '/api/blogs/{{ blog.id }}/comments';
    var comments = {{ comments|safe }}
    var blog = {{ blog|safe }};
    var user = null;
    {% if __user__ %}
    user = {{ __user__|safe}}
    {% endif %}
</script>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
        <h2>{{ blog.name }}</h2>
        <p class="blog-post-meta">Posted {{ blog.created_at|datetime }}</p>
        <p>{{ blog.html_content|safe }}</p>

        </br>
        <hr>
        <div id="comment"></div>
        <script src="/static/js/comment.js"></script>
        </div>
    </div>

</div>
{% endblock %}
