{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}
{% endblock %}

{% block content %}
<script>
  var page = {{ page|safe }};
  var blogs = {{ blogs|safe }};
</script>

<div id="blogs" class="col-md-8">

</div>
<script src="/static/out/blogs.js"></script>

{% raw %}
<div class="col-md-8" ng-controller="paginationController">
  <ul class="pager">
    <li><a href="#">Next Page</a></li>
    <li><a href="#">Previous Page</a></li>
  </ul>
</div>
{% endraw %}

{% endblock %}
