{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

<script>
  var page = {{ page_index }};
</script>

{% endblock %}

{% block content %}
<div class="container">
  <ul class="nav nav-pills">
    <li><a href="/manage/comments">评论</a></li>
    <li class="active">日志</li>
    <li><a href="/manage/users">用户</a></li>
  </ul>

  <a href="/manage/blogs/create" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span>新日志
  </a>
  <div id="blogs"></div>
  <script src="/static/js/manage_blogs.js"></script>
</div>

{% endblock %}
