{% extends '__base__.html' %}

{% block title %}Sign up{% endblock %}

{% block beforehead %}{% endblock %}

{% block content %}
<div class="container-fluid">

  <form id="signupForm" class="form-signup">
    <h3 class="control-label" align="center">
      <b>Sign up an account</b>
    </h3>
    </br>
    <div id="signup-error" class="alert alert-danger" role="alert" hidden>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span id="error-message"></span>
    </div>
    <lable for="username" class="sr-only">Username</lable>
    <input type="text" id="username" class="form-control"
           placeholder="Username" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="reinputPassword" class="sr-only">Re-enter password"</label>
    <input type="password" id="reinputPassword" class="form-control"
           placeholder="Re-enter password" required>
    </br>
    <button class="btn btn-primary btn-block" type="submit">Sign up</button>
  </form>

</div> <!-- /container -->
<script>
  var validateEmail = function(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
  };
  $("#signupForm").submit(function(event) {
    event.preventDefault();
    var len = $('#username').val().trim().length;
    if ($('#username').val().trim().length === 0) {
      $('#error-message').text('Please enter username.');
      $('#signup-error').show();
      return;
    }
    if (!validateEmail($('#inputEmail').val().trim().toLowerCase())) {
      $('#error-message').text('Please enter valid Email.');
      $('#signup-error').show();
      return;
    }
    if ($('#inputPassword').val().length < 6) {
      $('#error-message').text('Please enter at least 6 characters for password.');
      $('#signup-error').show();
      return;
    }
    if ($('#inputPassword').val() != $('#reinputPassword').val()) {
      $('#error-message').text('Two passwords are not matched.');
      $('#signup-error').show();
      return;
    }

    var email = $('#inputEmail').val().trim().toLowerCase();

    $.post('api/users',
            {
              name: $('#username').val().trim(),
              email: email,
              passwd:
                      CryptoJS.SHA1(email + ':' + $('#inputPassword').val()).toString()
            })
            .done(function(rsp) {
              if (rsp.error) {
                $('#error-message').text(rsp.message);
                $('#signup-error').show();
              } else {
                location.assign('/');
              }
            })
            .fail(function(err) {
              alert(err.message);
            });
  });
</script>
{% endblock %}